{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": [2, "always"],
    "new-cap": 2,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": [1, {"vars": "all", "args": "none"}],
    "eol-last": 0,
    "no-undef": 2,
    "quotes": [2, "single", "avoid-escape"],
    "jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  }
}
