html
  border-top 10px solid $color1

body
  margin 40px
  font-family $paragraph-font-family
  font-size $paragraph-font-size
  color $paragraph-color

a
  color $link-color
  text-decoration none
  &:hover
    color $link-hover-color

h1
  font-size $h1-font-size
  font-weight 400
  letter-spacing -0.03em
  color $h1-color
