$color1 = #dc3522
$color2 = #d9cb9e
$color3 = #374140
$color4 = #2a2c2b
$color5 = #1e1e20
$color6 = #006478
// $color6 = #8f190b

$heading-font-face = 'PT Sans', sans-serif
$h1-font-size = 36px
$h1-color = $color3

$paragraph-font-family = 'Roboto', sans-serif
$paragraph-font-size = 15px
$paragraph-color = $color5

$link-color = $color3
$link-hover-color = $color1
